@model CqrsSample.Web.Models.Post.PostDeleteModel
@using CqrsSample.Web.Helpers;

@{
    ViewBag.Title = Model.Post.Title;
}

<h2>記事の削除</h2>

<p>
	この記事を削除します。よろしいですか？
</p>

@using (Html.BeginForm("Delete", "Post", FormMethod.Post, new { @class = "", role = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary("", new { @class = "text-danger" })

	<div class="form-group">
		@Html.LabelFor(m => m.Post.Title, new { @class = "control-label" })
		<p class="form-control-static">@Model.Post.Title</p>
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.Post.Body, new { @class = "control-label" })
		<p class="form-control-static">
			@Html.ReplaceBreak(Model.Post.Body)
		</p>
	</div>

	<div class="form-group">
		<input type="submit" value="削除" class="btn btn-danger" />
	</div>
}